#about-container {
  height: 70vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

#paragraph {
  height: 60%;
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 10px;
  background-color: white;
  /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
  border-radius: 30px;
}
#photo {
  height: 60%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#intro-paragraph {
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 30px;
}

#caption-paragraph {
  font-size: 20px;
  margin-bottom: 20px;
}

#heading-paragraph {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 10px;
}

#cv-box {
  height: 50px;
  width: 150px;
  background-color: #ed755a;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 20px;
  justify-content: space-between;
}

#prom-photo {
  height: 300px;
}
@media screen and (max-width: 800px) {
  #about-container {
    flex-direction: column;
    height: 100vh;
  }
  #paragraph {
    height: 100%;
    width: 90%;
    margin-top: 10px;
  }
}
