.ConsultingPage {
    width: 100vw;
    height: 100vh;
    background-color: tomato;
}

.ConsultingTable {
    margin: auto;
    height: 70vh;
    width: 60vw;
    background-color: tomato;
    transform: translateY(15vh);
}

#ConInfo {
    background-color: snow;
    border-radius: 10px;
    height: 70vh;
    width: 60vw;
    border: black;
    display: inline-block;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
#ConTitle {
    background-color: tomato;
    height: 75vh;
    width: 65vw;
    position: absolute;
    top: 0;
    z-index: 2;
    text-align: center;
}

#infoText {
    width: inherit;
    height: inherit;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: center;
    transform: translateY(6vh);
}

#ConTitle:hover {
    opacity: 0;
    transition: opacity 1s;
}

.ConDisplay {
    color: white;
}

#judoImg {
    height: 40%;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
}