.full-container {
  height: 300vh;
  width: 100vw;
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#photo-frame {
  width: 1000px;
  height: 500px;
}
