span,
h1,
p {
  margin: 0;
}
#home-container {
  padding-top: 40px;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: solid 1px black; */
}

.socialmedia-container {
  height: 30%;
  width: 5%;
  opacity: 0%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
  border-radius: 10px;
  animation-duration: 2s;
  animation-name: fade-in;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}

.social-media {
  height: 33%;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}

.social-media:hover {
  cursor: pointer;
}

.text {
  height: 50%;
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 20px;
  /* border: 1px solid black; */
}

.profile-picture {
  height: 100%;
  width: 40%;
  animation-duration: 3s;
  animation-name: slide-up;
  animation-fill-mode: forwards;
}

#profile-photo {
  height: 100%;
}

#intro-text {
  font-size: 60px;
  animation-duration: 3s;
  animation-name: slide-down;
  animation-fill-mode: forwards;
}

@keyframes slide-down {
  from {
    margin-top: -50%;
  }

  to {
    margin-top: 0%;
  }
}

@keyframes fade-in {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

@keyframes slide-up {
  from {
    margin-bottom: -50%;
  }

  to {
    margin-bottom: 0%;
  }
}

#contact-button {
  height: 50px;
  width: 150px;
  background-color: #ed755a;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 20px;
  justify-content: space-between;
}

#intro-caption {
  font-size: 30px;
  margin-bottom: 40px;
}

#intro-des {
  font-size: 18px;
  margin-bottom: 40px;
}

#button-txt {
  color: white;
  text-decoration: none;
}
